
*{
    background-color: cornflowerblue;
}

img{
    min-height: 150px;
    width: 200px;
}

p{
    color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section, h1, h2{
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

